*{
	margin: 0px;	
	background: #75aaff;
}

.div1{
	margin:auto;
	width: 960px;
	height: 960px;
	text-align: center;
}

.div2{
	padding-top: 20px;
}

body{	
	background: url("../images/wormz/wormz.png");
}

h1{
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	font-size: 300%;
}

h2{
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

h3{
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

button{
	padding: 10px 50px 10px 50px;
	background-color: green;
	border: none;
	border-radius: 8px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/*When mouse is hovering over button*/
button:hover{
	background-color: white;
}
/*When button is clicked*/
button:active{
	background-color: green;
}